<section class="container">
  <h1 class="text-center mt-4"><%= current_user.name %> created events</h1>
  <h4 class='my-4'>Created events - <%= @created_events.count %></h4>
  <div class='row'>
    <% @created_events.each do |event| %>
      <div class="user_card card text-center m-2">
        <div class="card-header bg-dark text-white  ">
          <h2><%= event.title %></h2>
          <%= show_creator(event) %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= truncate(event.desc,length:20) %></p>
          <%= link_to 'Show more', event_path(event),class:'btn btn-primary' %>
        </div>
        <div class="card-footer text-white bg-dark">
          Created at <%= time_ago_in_words(event.created_at) %> ago
        </div>
      </div>
    <% end %>
  </div>

  <h4 class='my-4'>Attended events - <%= @attended_events.count %></h4>
  <div class='row'>
    <% @attended_events.each do |event| %>
      <div class="user_card card text-center m-2">
        <div class="card-header bg-dark text-white  ">
          <h2><%= event.title %></h2>
          <%= show_creator(event) %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= truncate(event.desc,length:20) %></p>
          <%= link_to 'Show more', event_path(event),class:'btn btn-primary' %>
        </div>
        <div class="card-footer text-white bg-dark">
          Created at <%= time_ago_in_words(event.created_at) %> ago
        </div>
      </div>
    <% end %>
  </div>
 

</section>
