<h2 class='text-center my-4'>Log in</h2>
<div class='devise_form col-4 m-auto d-flex justify-content-center rounded'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field  form-group">
      <%= f.label :email,class:'text-black h6 pt-4' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :password,class:'text-black h6 pt-2' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me,class:'text-black h6 py-2' %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in",class:'btn btn-dark mb-4' %>
    </div>
    <div class="actions mb-3">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
